.main {
  margin: 1em
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: aqua;
  font-weight: bold;
  color: gray;
  letter-spacing: 2px;
  line-height: 18px;
}
.navcolor{
  background-color: aqua;
}
