.boldred {
  font-weight: bold;
  color: red
}
.boldgreen {
  font-weight: bold;
  color: green
}
.statistics {
  color: rgb(50, 99, 204);
}
.dad {
  color: red;
  text-align: center;
}
.lives {
  color: gray;
}