<h2 style="text-align: center">Learning One Single Choice (SC) Question</h2>
<button type="button" class="btn btn-outline-dark" (click)="firstQuery()">first</button>

<button type="button" class="btn btn-outline-secondary" style="margin-left: 80%
;" (click)="lastQuery()">last</button>


<h5>Question: {{ query.qid }} <br /></h5>
<div *ngFor="let qt of query.qtxt">
  <span *ngIf="qt[0] === ' '"> _ {{ qt }} <br /> </span>
  <span *ngIf="qt[0] != ' '"> {{ qt }} <br /> </span>
</div>
<div *ngFor="let ans of query.qanswers; index as k">
  <span *ngIf="showanswers">
    <span *ngIf="ans.correct">
      <span *ngIf="queryNrAnswersShow === query.qid" class="boldgreen">
        {{ k + 1 }}: {{ ans.txt }}
      </span>
    </span>
    <span *ngIf="!ans.correct">
      <span *ngIf="queryNrAnswersShow === query.qid">
        {{ k + 1 }}: {{ ans.txt }}
      </span>
    </span>
    <span *ngIf="queryNrAnswersShow != query.qid">
      {{ k + 1 }}: {{ ans.txt }}
    </span>
  </span>
  <span *ngIf="!showanswers"> {{ k + 1 }}: {{ ans.txt }} </span>
</div>
<button type="button" class="btn btn-outline-success" style="margin-left: 18%
" (click)="prevQuery()">back</button>
<button type="button" class="btn btn-outline-primary" style="margin-left: 15%
" (click)="toggleAnswers(query.qid)">check</button>
<button type="button" class="btn btn-outline-success" style="margin-left: 15%
" (click)="nextQuery()">next</button>
